%h1 Sistemin dogru calıstıgını gormek icin statik sayfa !!!
%p Sup my dudes, Bu sayfayı Home page olarak kullanmaya karar verdim şimdilik
%p Noteları görmek için https://salty-gorge-50592.herokuapp.com/notes
%p Yeni note için https://salty-gorge-50592.herokuapp.com/notes/new
%p Özel bir not için x yerine idsini yazın mesela https://salty-gorge-50592.herokuapp.com/notes/3