%h1 Sistemin dogru calıstıgını gormek icin statik sayfa !!!
%p Sup my dudes, Bu sayfayı Home page olarak kullanmaya karar verdim şimdilik
%a{:href=>"https://salty-gorge-50592.herokuapp.com/notes"} Tüm notlar
%p
%a{:href=>"https://salty-gorge-50592.herokuapp.com/notes/new"} Yeni not
%p Özel bir not için x yerine idsini yazın mesela https://salty-gorge-50592.herokuapp.com/notes/3